<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="easy-reading with django"/>
<meta name="author" content="Vagrant Wong">

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/base.css">
<link rel="shortcut icon" href="http://readeasy-readeasy.stor.sinaapp.com/img/r_favicon.ico">
<style>
	#content{
		width: 800px;
	}
</style>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<title> 关于易读</title>
</head>

<body>
<div id="wrap">
{% include "header.html" %}
<div class="container">
<div id="content">
<blockquote>
<p>关于易读</p>
</blockquote>
<p>易读，是一个实验性的在线电子书阅读网站，追求的是纯净、免费的阅读体验。书不多，而且都没有这些书的版权，只能会慢慢添加。阅读体验也会慢慢的改进。</p><br><br>
<blockquote>
<p>易读使用</p>
</blockquote>
<p>匿名用户的话，就只能看书了。<br>
登录的用户多了三个功能：<br>
<li>收藏：收藏功能最初的假设是网站的数目够多的话，在浏览的时候可以有针对性地收藏某本书。</li>
<li>书签：看到某个章节像标记一下，用书签功能。</li>
<li>笔记：笔记功能，觉得某个章节某个地发写得不错，mark一下，用笔记功能；看的时候有什么感触，用笔记功能。</li></p>
<p>没有帐号就注册一个吧，注册易只需几秒钟，而且用户的密码是加密存储的，可以保证安全。</p><br><br>
<blockquote>
<p>内容来源</p>
</blockquote>
<p>易读站点上的所有图书内容都来源与网络，若侵犯到了您的权利，请联系我们。</p>
</div>
</div>
</div>
{% include "footer.html" %}
</body>
</html>




