<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="easy-reading with django"/>
<meta name="author" content="Vagrant Wong">

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/page.css">
<link rel="shortcut icon" href="http://readeasy-readeasy.stor.sinaapp.com/img/r_favicon.ico">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('input:last').click(function(){
			if($('textarea').val() == ""){
				alert("内容为空, 不能保存！(ง •̀_•́)ง┻━┻")
				return false;
			}else{
				var content = $('textarea').val();
			       //content = content.replace(/<script.*?>/g, "").replace(/<\/script>/g, "");
				content = content.replace(/>/g, "&gt;");
				content = content.replace(/</g, "&lt;");
				content = content.replace(/\n$/g, "<br/>&nbsp;");
				content = content.replace(/\n/g, "<br/>"); 
				$('textarea').val(content);
			}
	});
});
</script>
<title> {% block title %} {{ content.title }}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-fixed-bottom">
<ul class="nav navbar-nav">
<li><a href="{% url get_content_list content.id %}">
<span class="glyphicon glyphicon-list"></span>&nbsp;目录
</a></li>
<li><a href="{% url get_next_content content.id %}">&nbsp;下一章
<span class="glyphicon glyphicon-arrow-right"></span>
</a></li>
</ul>
{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right">
<li><a href="{% url mark content.id %}">
<span class="glyphicon glyphicon-tags"></span>&nbsp;书签
</a></li>
<li><a href="" data-toggle="modal" data-target="#myNote">
<span class="glyphicon glyphicon-pencil"></span>&nbsp;笔记
</a></li>
</ul>
{% endif %}
</nav>
{% if user.is_authenticated %}
<div class="modal fade" id="myNote" tabindex="-1" role="dialog" aria-labelledby="myNoteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-body">
		<form  action="{% url take_note content.id %}" method="post">{% csrf_token %}
		{{ form.content }}
		</div>
		<div class="modal-footer">
		<input type="submit"  class="btn btn-success" value="保存"/>
		</form>
		<button type="button" class="btn btn-danger" data-dismiss="modal">算了</button>
		</div>
	</div>
</div>
</div>
{% endif %}
<div class="container">
<h2 class="text-center">{{ content.title }}</h2>	
{% load markup %}
<p> {{ content.content|markdown}} </p>
<p></p>
</div>

</body>
</html>




